@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 305px;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.card-content {
  width: 100%;
  padding: 1rem;
}

.card-header {
  width: 100%;
}

.card-header img {
  width: 275px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  margin: 1rem 0.5rem;
  width: 100%;
}

.card-body h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card-body p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
